$BG: #0a0a0a
$FG: invert($BG)
$BGL: #222
$FGL: #ddd
$BOX_MARGIN: 2rem
$MAX_CONTENT_WIDTH: 64rem

html, body
    margin: 0

body
    font-family: 'Iosevka Aile Web', sans-serif
    font-weight: 300
    background: $BG
    color: $FG
    min-height: 100vh
    padding: 0.5rem
    overflow-x: hidden
    overflow-y: auto
    scrollbar-color: $FG $BG

.--inverted body
    background: $FG
    color: $BG
    scrollbar-color: $BG $FG

body::-webkit-scrollbar
    background: $BG
    width: 0.5rem

body::-webkit-scrollbar-thumb
    background: $FG
    border-radius: 0.5 * 0.5rem

.--inverted body::-webkit-scrollbar
    background: $FG

.--inverted body::-webkit-scrollbar-thumb
    background: $BG

=link($selector, $fg, $bg)
    #{$selector}
        color: $fg
        text-decoration: none
        font-weight: 300
        border-top: 1px solid transparent
        border-bottom: 1px solid transparent
        @content

    #{$selector}:hover
        border-top: 1px solid $fg
        border-bottom: 1px solid $fg
        // text-decoration: underline overline solid $fg

    .--inverted #{$selector}
        color: $bg

    .--inverted #{$selector}:hover
        border-top: 1px solid $bg
        border-bottom: 1px solid $bg
        // text-decoration: underline overline solid $bg

$LINK_O: #fca326
$LINK_B: #3687d8
+link('.link', $LINK_O, $LINK_B)

button
    border: none
    padding: 0

a
    text-decoration: none
    color: $FG

.--inverted a
    color: $BG

.container__root
    display: flex
    padding: $BOX_MARGIN / 4
    box-sizing: border-box

.container__root.--column
    flex-direction: column

.container__root.--row
    flex-direction: row

.container__item
    margin: $BOX_MARGIN / 4
    padding: $BOX_MARGIN / 2
    border: 1px solid $FG
    border-radius: 2px

.content__column
    max-width: $MAX_CONTENT_WIDTH
    text-align: justify
    margin: 0 auto

.content__column.--length-s
    max-width: 0.5 * $MAX_CONTENT_WIDTH

.content__column.--length-m
    max-width: $MAX_CONTENT_WIDTH

.content__column.--length-l
    max-width: 1.25 * $MAX_CONTENT_WIDTH

.post__body
    line-height: 1.5

+link('.post__body a', $LINK_O, $LINK_B)

.--inverted  .container__item
    border: 1px solid $BG

.container__item.--plain
    margin: $BOX_MARGIN / 2
    padding: 0
    border: unset

.--inverted .container__item.--plain
    border: unset

.container__item.--thin
    margin: $BOX_MARGIN / 4
    padding: $BOX_MARGIN / 4

.container__item.--fill
    flex: 1 1 auto

.header
    display: flex
    align-items: center

.ico__canvas
    position: absolute
    left: 0
    right: 0
    margin: auto

.header__name
    font-size: 3rem

.header__space
    flex-grow: 1

.header__links
    font-size: 1.2rem
    display: flex
    flex-direction: row
    gap: 2rem

.header__shortlinks
    display: none

.header__links a
    @extend .link

.header__shortlinks a
    @extend .link

.footer
    text-align: center
    font-size: 0.8rem

+link('.footer__email', $FG, $BG)
    float: right
    color: $FG

.--inverted .footer__email
    color: $BG

.nospam .--at::before
    padding-right: 0.15em
    content: "@"

$TOGGLE_LENGTH: 2rem

.darkness_toggle__button
    height: $TOGGLE_LENGTH / 2
    width: $TOGGLE_LENGTH
    border-radius: 1rem
    float: left
    background: $FG
    cursor: pointer

.--inverted .darkness_toggle__button
    background: $BG

.darkness_toggle__dot
    height: $TOGGLE_LENGTH / 4
    width: $TOGGLE_LENGTH / 4
    margin: $TOGGLE_LENGTH / 8
    border-radius: $TOGGLE_LENGTH / 8
    float: left
    background: $BG
    transition: margin-left 50ms

.--inverted .darkness_toggle__dot
    background: $FG
    margin-left: 5 * $TOGGLE_LENGTH / 8

.center_span
    display: table
    margin: 0 auto

.pill,.pill.--disabled:hover
    background: $BG
    color: $FG
    padding: 0rem 1rem
    border-radius: 0.5rem
    border: 1px solid $FG

.pill.--warning,.--inverted .pill.--warning
    color: #d9332e
    border: 1px solid #d9332e

a.pill:hover
    background: $FG
    color: $BG

.--inverted .pill,.--inverted .pill.--disabled:hover
    background: $FG
    color: $BG
    border: 1px solid $BG

.--inverted a.pill:hover
    background: $BG
    color: $FG

.pill.--disabled,.pill.--disabled:hover,.--inverted .pill.--disabled:hover
    border-style: dashed

.pill__note
    font-style: italic
    font-size: 0.5em
    vertical-align: middle

.center_pill
    @extend .center_span
    @extend .pill

.post__body a.center_pill
    @extend .center_span
    @extend .pill

.pill .nf
    font-size: 0.8em
    vertical-align: 0.1em

.--noicons .nf
    display: none

.tagline
    display: table
    margin: 0 auto

.description__container
    @extend .content__column
    padding: 1rem 0

.description__header
    display: flex

.description__container.--large
    max-width: 100%
    min-width: $MAX_CONTENT_WIDTH
    width: fit-content

.description__hash
    color: $LINK_O
    width: 2rem
    float: left
    font-size: 1.5rem
    font-style: italic

.description__container.--large .description__hash
    font-size: 2.25rem

.description__header.--hold .description__hash
    font-style: inherit

.description__title:hover .description__hash
    font-style: inherit

.--inverted .description__hash
    color: $LINK_B

.description__title
    flex-grow: 1
    font-size: 1.5rem

.description__container.--large .description__title
    font-size: 2.25rem

.description__date
    margin-top: auto

.description__authors
    margin-bottom: 1rem

.description__container.--large .description__authors
    font-size: 1.5em

.description__summary
    margin-left: 2rem

.description__summary p:first-of-type
    display: inline

.description__more
    display: flex
    margin-top: 1rem
    margin-bottom: 1rem
    flex-direction: row
    justify-content: center
    gap: 0.5rem 2rem
    flex-wrap: wrap

div.math
    text-align: center
    background: #0f1419
    padding: 1em
    border-radius: 2px
    font-size: 1rem
h1, h2, h3
    text-align: left
    overflow: auto

strong
    font-weight: bold

.--inverted div.math
    background: #e7eaf1

.hline
    left: 0
    right: 0
    width: auto
    margin: $BOX_MARGIN / 2 0
    border-bottom: 1px dashed $FG

.--inverted .hline
    border-bottom: 1px dashed $BG

.image
    display: block
    margin: 2em auto
    border-radius: 2px
    object-fit: contain
    box-sizing: content-box

    svg
        height: 100%

    &.--xs
        height: 8rem
        max-height: 8rem
        max-width: 100%

    &.--s
        height: 12rem
        max-height: 12rem
        max-width: 100%

    &.--m
        height: 16rem
        max-height: 16rem
        max-width: 100%

    &.--ml
        height: 20rem
        max-height: 20rem
        max-width: 100%

    &.--l
        height: 24rem
        max-height: 24rem
        max-width: 100%

    &.--xl
        height: 32rem
        max-height: 32rem
        max-width: 100%

.diagram__image
    @extend .image
    filter: invert(1) hue-rotate(180deg)

div .image,.diagram__image,.image_container
    text-align: center
    font-size: 0
    display: flex
    flex-direction: column

    svg
        align-self: center

.--inverted .diagram__image
    filter: unset

.jumbotron
    display: block
    width: 100%
    height: 30vh
    border: 1px solid $FG
    border-radius: 2px
    overflow: hidden

.--inverted .jumbotron
    border: 1px solid $BG

svg .--diagram
    filter: invert(1) hue-rotate(180deg)

.--inverted svg .--diagram
    filter: unset

svg .--border
    stroke: $FG
    stroke-width: 1
    stroke-opacity: 1

.--inverted svg .--border
    stroke: $BG
    stroke-width: 1
    stroke-opacity: 1

svg .--fg
    fill: $FG
.--inverted svg .--fg
    fill: $BG
svg .--bg
    fill: $FG
.--inverted svg .--bg
    fill: $BG
svg .--fgs
    stroke: $FG
.--inverted svg .--fgs
    stroke: $BG
svg .--bgs
    stroke: $FG
.--inverted svg .--bgs
    stroke: $BG

table
    margin: 0 auto

pre
    padding: 1em
    border-radius: 2px
    overflow-x: auto

.--inverted pre
    filter: invert(1) hue-rotate(180deg)

pre code, .--inverted pre code
    background: unset
    padding: 0

code
    background: #0f1419
    padding: 0.2em 0.5em
    border-radius: 2px
    font-family: 'Iosevka Web', monospace

.--inverted code
    background: #e7eaf1

.--inverted svg .codeblock-fg
    filter: invert(1) hue-rotate(180deg)

img.--invertable
    filter: invert(1) hue-rotate(180deg)

.--inverted img.--invertable
    filter: unset

img.--border
    padding: 2px
    border: 1px solid $FG

.--inverted img.--border
    border: 1px solid $BG

svg .codeblock-bg
    fill: #0f1419

.--inverted svg .codeblock-bg
    fill: #e7eaf1

blockquote
    padding-left: 1em
    border-left: 2px $LINK_O solid

.--inverted blockquote
    border-left: 2px $LINK_B solid

.caption
    font-size: 10pt
    align-self: start

.attribution
    font-size: 10pt
    align-self: end

h1, h2, h3
    text-align: left

.bigfill_text
    margin: auto
    font-size: 4rem

@media only screen and (max-device-width: 720px)
    .container__root
        font-size: 0.85rem

    .caption
        font-size: 7pt

    .attribution
        font-size: 7pt

    .ico__canvas
        width: 64px
        height: 64px

    .header__name
        font-size: 1.2rem

    .header__links
        display: none

    .header__shortlinks
        font-size: 1.0rem
        display: unset

        a
            padding: 0 3px

    .description__header
        flex-direction: column

    .description__header
        margin-bottom: 1rem

    .description__title,
    .description__hash
        font-size: 1.2rem

    .description__container.--large .description__title,
    .description__container.--large .description__hash
        font-size: 1.5rem

    .description__container.--large .description__authors
        font-size: 1.2em

    .description__container.--large .description__date
        font-size: 1.2em

    .description__container.--large
        max-width: unset
        min-width: unset
        width: 100%

    .description__summary
        margin-left: unset

    .content__column
        text-align: left

    .image
        display: block
        margin: 1em auto

        svg
            height: unset
            width: 100%

        &.--xs
            height: unset
            width: 40%

        &.--s
            height: unset
            width: 50%

        &.--m
            height: unset
            width: 60%

        &.--ml
            height: unset
            width: 70%

        &.--l
            height: unset
            width: 80%

        &.--xl
            height: unset
            width: 100%

    .footer
        text-align: center
        font-size: 0.5rem
        line-height: 0.8rem
