<div class="image --{{ size }}">
    {{ load_data(path=asset) |
        replace(from='font-family:Iosevka;', to='font-family:Iosevka Web;') |
        replace(from="font-family:'Iosevka Aile';", to='font-family:Iosevka Aile Web;') |
        safe }}
    {%- if caption -%}
        <div class="caption" align="center">
        {{ caption }}
        </div>
    {%- endif -%}
    {%- if by_author -%}
        <div class="attribution" align="left">
        {% if by_link %}
            <a href="{{by_link}}" target="blank">
        {% endif %}
        {% if by_title %}
            <q>{{by_title}}</q>
            {%- if by_link -%}
                </a>
            {%- endif -%}
        {% endif %}
        by {{by_author}}
        {% if by_license %}
            licensed under {{by_license}}
        {% endif %}
        {% if by_mod %}
            / {{by_mod}}
        {% endif %}
        {%- if not by_title and by_link -%}
            </a>
        {%- endif -%}
        </div>
    {%- endif -%}
</div>
