{% import "components.html" as components %}
{% set version_url = get_env(name="CF_PAGES_URL", default="") %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ version_url ~ '/site.css' }}">
    <link rel="icon" href="{{ get_url(path='favicon.png') }}">
    <script src="{{ version_url ~ '/scripts/earlysite.js' }}"></script>
    <link rel="alternate" type="application/atom+xml" title="Sam Sartor's Blog" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
</head>

<body class="container__root --column --noicons">
    <div class="header container__item --plain">
        <canvas id="ico-canvas" class="ico__canvas"></canvas>
        <a class="header__name" href="/">{% block head %}{% endblock head %}</a>
        <div class="header__space"></div>
        <div class="header__links">
            <div class="header__link">
                Git(<a href="https://github.com/samsartor" target="_blank"><i class="nf nf-fa-github"> </i>Hub</a>|<a href="https://gitlab.com/samsartor" target="_blank"><i class="nf nf-fa-gitlab"> </i>Lab</a>)
            </div>
            <a class="header__link" href="/resume.pdf" target="_blank">
               <i class="nf nf-md-file_document_outline"> </i>Resume
            </a>
        </div>
        <div class="header__shortlinks">
            <a href="https://github.com/samsartor" target="_blank"><i class="nf nf-fa-github"></i></a>
            <a href="https://gitlab.com/samsartor" target="_blank"><i class="nf nf-fa-gitlab"> </i></a>
            <a class="header__link" href="/resume.pdf" target="_blank"><i class="nf nf-md-file_document_outline"> </i></a>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <div class="footer container__item --thin">
        <button id="darkness-toggle" class="darkness_toggle__button">
            <span class="darkness_toggle__dot"></span>
        </button>
        &copy;2023 Sam Sartor — Powered by <a href="https://www.getzola.org/" class="link">Zola</a> — Font is <a href="https://typeof.net/Iosevka/" class="link">Iosevka</a>
        <a class="footer__email nospam" href="znvygb:zr@fnzfnegbe.pbz">me<span class="--at"></span>samsartor.com</a>
    </div>
    <script src="{{ version_url ~ '/scripts/site.js' }}" async></script>
    {% if page.extra.tilings %}
    <script src="{{ config.extra.tiling_canvas_src }}" async></script>
    {% endif %}

    <link rel="preload" href="{{ version_url ~ '/scripts/style.css' }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://bin.samsartor.com/iosevka_27.3.3/iosevka.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://bin.samsartor.com/iosevka_27.3.3/iosevka-aile.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://bin.samsartor.com/nerdfonts_3.0.2/webfont.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
    <link href="{{ version_url ~ '/scripts/style.css' }}" rel="stylesheet">
    <link href="https://bin.samsartor.com/iosevka_27.3.3/iosevka.css" rel="stylesheet">
    <link href="https://bin.samsartor.com/iosevka_27.3.3/iosevka-aile.css" rel="stylesheet">
    <link href="https://bin.samsartor.com/nerdfonts_3.0.2/webfont.css" rel="stylesheet">
    </noscript>
</body>
</html>
