{% set version_url = get_env(name="CF_PAGES_URL", default="") %}
{% macro mainpills(info) %}
    {% if info.paper %}
    {% if info.publisher_link is matching("coming soon") %}
    <a class="pill --disabled"><i class="nf nf-fa-book"> </i> {{ info.publisher_short }}</a>
    {% else %}
    <a href="{{ info.publisher_link | safe }}" class="pill" target="_blank"><i class="nf nf-fa-book"> </i>{{ info.publisher_short }}</a>
    {% endif %}
    {% endif %}
    {% if info.paper_link %}
    {% if info.paper_link is matching("coming soon") %}
    <a class="pill --disabled"><i class="nf nf-md-file"> </i>Paper <span class="pill__note">Coming Soon</span></a>
    {% else %}
    <a href="{{ info.paper_link | safe }}" class="pill" target="_blank"><i class="nf nf-md-file"> </i>Paper</a>
    {% endif %}
    {% endif %}
    {% if info.code_link %}
    {% if info.code_link is matching("coming soon") %}
    <a class="pill --disabled"><i class="nf nf-fa-github"> </i>Code <span class="pill__note">Coming Soon</span></a>
    {% else %}
    <a href="{{ info.code_link | safe }}" class="pill" target="_blank"><i class="nf nf-fa-github"> </i>Code</a>
    {% endif %}
    {% endif %}
    {% if info.video_link %}
    {% if info.video_link is matching("coming soon") %}
    <a class="pill --disabled"><i class="nf nf-fa-play_circle"> </i>Code <span class="pill__note">Video</span></a>
    {% elif info.video_link is matching("http") %}
    <a href="{{ info.video_link | safe }}" class="pill" target="_blank"><i class="nf nf-fa-play_circle"> </i>Video</a>
    {% else %}
    <a href="{{ get_url(path=info.video_link) }}" class="pill" target="_blank"><i class="nf nf-fa-play_circle"> </i>Video</a>
    {% endif %}
    {% endif %}
{% endmacro paperpills %}
{% macro pagesum(page) %}
<div class="description__container">
    <div class="description__header">
        <a href="{{ page.permalink | safe }}" class="description__title">
            <span class="description__hash">#</span> {{ page.title }}
        </a>
        {% if page.day and not page.extra.paper %}
        <span class="description__date">{{ page.year }}-{{ page.month }}-{{ page.day }}</span>
        {% endif %}
    </div>
    <div class="description__summary">
        {% if page.extra.paper %}
        <div class="description__authors">{{ page.extra.authors }}</div>
        {% endif %}
        {% if page.description is matching("\S+") %}
            <span class="description__description">{{ page.description }}</span>
            {% if page.summary %}-{% endif %}
        {% endif %}
        {% if page.summary %}
            {% set summary = page.summary | safe | striptags | trim %}
            {%- if summary is ending_with('.') %}
                {% set summary = summary | truncate(length=summary | length - 1, end="") %}
            {% endif %}
            {{ summary }}&hellip;
        {% endif %}
    </div>
    <div class="description__more">
    {{ self::mainpills(info=page.extra) }}
    {% if page.extra.paper %}
    <a href="{{ page.permalink | safe }}" class="pill">More</a>
    {% else %}
    <a href="{{ page.permalink | safe }}" class="pill">Read More ({{ page.reading_time }} minutes)</a>
    {% endif %}
    </div>
</div>
{% endmacro pagesum %}
