{% extends "base.html" %}

{% block title %}Sam Sartor - {{ page.title }}{% endblock title %}
{% block head %}Sam Sartor{% endblock head %}

{% block description %}{% if page.description is matching("\S+") %}{{page.description}}{% elif page.summary %}{{page.summary}}{% endif %}{% endblock description %}

{% block content %}
<div class="container__item --plain">
    <div class="description__container --large">
        <div class="description__header --hold">
            <span class="description__title">
                <span class="description__hash">#</span> {{ page.title }}
            </span>
            {% if page.day and not page.extra.paper %}
            <span class="description__date">{{ page.year }}-{{ page.month }}-{{ page.day }}</span>
            {% endif %}
        </div>
        {% if page.extra.paper %}
        <div class="description__authors">{{ page.extra.authors }}</div>
        <div class="description__more">
        {{ self::mainpills(info=page.extra) }}
        </div>
        {% endif %}
        {% if page.extra.title_image %}
        <br>
        {% endif %}
    </div>
    {% if page.draft %}
    <div class="pill --warning center_span">
        Hey! This page is a rough draft.
    </div>
    {% endif %}
</div>
<div class="content container__item --fill {% if page.extra.plain %} --plain {% endif %}">
    <div class="content__column post__body">
        {{ page.content | safe }}
    </div>
</div>
{% endblock content %}
