{% extends "base.html" %}
{% import "components.html" as components %}

{% block title %}Sam Sartor - {{ section.title }}{% endblock title %}
{% block head %}Sam Sartor - {{ section.title }}{% endblock head %}

{% block content %}
{% if section.content is matching("\S+") %}
<div class="content container__item --plain">
    <div class="content__column">
    {{ section.content | safe }}
    </div>
</div>
{% endif %}
<div class="content container__item --fill">
    {% set pages = section.pages | filter(attribute="draft", value=false) %}
    {% if pages %}
        {% for page in pages %}
            {{ components::pagesum(page=page) }}
            <div class="hline"></div>
        {% endfor %}
        <span class="center_span">
            That's all for now.
        </span>
    {% else %}
        <span class="center_pill">
            No pages here.
        </span>
    {% endif %}
</div>
{% endblock content %}
